<!DOCTYPE html>
<html>
    <head>
        <title>Order Data</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="container">
            Order successfully received!
        </div>
</body>
</html>