<!DOCTYPE html>
<html>
    <head>
        <title>Order Data</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="container">
            <div align="left">
                <h1>Thank you! Your order was submitted successfully.</h1>
            </div>
        </div>
</body>
</html>